<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Notes</th>
			<th>Due Date</th>
			<th>Completed?</th>
			<th colspan="3"></th>
		</tr>
	</thead>

	<tbody>
		<%= render 'task_row' %>
	</tbody>
</table>