
<h1>Tasks</h1>

<%= render 'tasks_table' %>

<hr />

<ul>
  <li><%= link_to 'New task', new_task_path %></li>
  <% if session[:data].last  == "1" %>
  	<li><%= link_to 'Hide completed tasks', tasks_path(show_completed: 0) %></li>
  <% else %>
  	<li><%= link_to 'Show completed tasks', tasks_path(show_completed: 1) %></li> 
  <% end %>
</ul>
