
<h1>New Task</h1>

<% if @task.errors.any? %>
  There were some errors!
  <ul>
    <% @task.errors.full_messages.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>

<%= render 'form' %>

<hr />

<ul>
  <li><%= link_to "Back to index", tasks_path %></li>
</ul>
